<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Tests.PrivilegeManagementFunctionality"/>
      <class name="Tests.UserManagementFunctionality"/>
      <class name="HappyPathsRegMod1.WelcomingRegistrarDeniedChangeJurisdictionRequest"/>
      <class name="HappyPathsRegMod1.AuthorityLoginAndDeniedRoleChange"/>
      <class name="HappyPathsRegMod1.ConfigurationSettingsTest"/>
      <class name="HappyPathsRegMod1.RegistrarDeniedProposedUserDetails"/>
      <class name="HappyPathsRegMod1.CancelUserRegistrationByUser"/>
      <class name="HappyPathsRegMod1.HappyPathWithAllFunctionalities"/>
      <class name="HappyPathsRegMod1.ClosedAccountOfUserByRegistrar"/>
      <class name="Tests.UserRegistrationFunctionality"/>
      <class name="Tests.ConfigurationSettingsFunctionality"/>
      <class name="Tests.ContentManagementFunctionality"/>
      <class name="Tests.BrokenLinks"/>
      <class name="HappyPathsRegMod1.DeniedUserRegistrationByRegistrar"/>
      <class name="HappyPathsRegMod1.OriginalRegistrarLoginAndUnshareUserProfile"/>
      <class name="HappyPathsRegMod1.CancelUserRegistrationByRegistrar"/>
      <class name="HappyPathsRegMod1.AuthorityApproveAfterRegistrarSubmitRequestRevision"/>
      <class name="HappyPathsRegMod1.AuthorityLoginAndDeniedUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
